<div id = "userindex" class="row d-flex justify-content-center">
    <div id = "editusererrors"></div>
        <div class="col-sm-12 h-100 d-table">
            <div class="col-6 align-self-center">
            <h1>Editing User</h1>
            <%= render 'form', user: @user %>
            <%= link_to 'Show', @user %> |
            <%= link_to 'Back', users_path %>
        </div>
    </div>
</div>