<h4>List of Skills</h4>

<table>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Proficiency</th>
      <th scope="col">Description</th>
    </tr>
  </thead>

  <tbody>
    <% @skills.each do |skill| %>
      <tr>
        <td><%= skill.id %></td>
        <td><%= skill.name %></td>
        <td><%= skill.proficiency %></td>
        <td><%= skill.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
