<script>
$(document).ready(function() {
    if (location.hash) {
        $("a[href='" + location.hash + "']").tab("show");
    }
    $(document.body).on("click", "a[data-toggle='tab']", function(event) {
        location.hash = this.getAttribute("href");
    });
});
$(window).on("popstate", function() {
    var anchor = location.hash || $("a[data-toggle='tab']").first().attr("href");
    $("a[href='" + anchor + "']").tab("show");
});</script>

<div class="container" style="border:1px solid #cecece;">
  <div class="clearfix">
    <%= image_tag("book.png",class:"float-left", :alt => "book icon") %>
      <h1 id ="recruit"> Recruit - Educators</h1>
</div>



<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist" >
  <li class="nav-item active">
    <a class="nav-link" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="candidates-tab" data-toggle="tab" href="#candidates" role="tab" aria-controls="candidates" aria-selected="false">Candidates</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="skills-tab" data-toggle="tab" href="#skills" role="tab" aria-controls="skills" aria-selected="false">Skills</a>
  </li>
</ul>
<!-- Tab panes -->
<div class="tab-content" >
  <div class="tab-pane active text-center" id="login" role="tabpanel" aria-labelledby="login-tab">
    
    <%= render "loginTab" %>
    
  </div>

  <div class="tab-pane" id="candidates" role="tabpanel" aria-labelledby="candidates-tab">
    <%= render "candidateTab" %>
  </div>
  
  <div class="tab-pane" id="skills" role="tabpanel" aria-labelledby="skills-tab">
    <%= render "skillsTab" %>  
  </div>
</div>
</div>
                
                
