@import "bootstrap-sprockets";
@import "bootstrap";

.div-centered {
  text-align: centered; 
  margin: auto; 
  width: 400px;
}

#userplace {
 padding-left: 90px;
 text-align: left; 
}

#userindex{
	margin-left: 35%;
}

#maintable{
	padding-bottom: 20px;
	word-wrap: break-word;
}

#candidateerrors{
	padding-left: 12%;
	text-align:left;
}


#skillerrors{
	padding-left: 12%;
	text-align:left;
}

#usererrors{
	padding-left: 12%;
	text-align:left;
}
@keyframes line-item-highlight {
	  0% {
	    background: #8f8;
	  }
	  100% {
	    background: none;
	  }
	}
	
	.line-item-highlight {
	  animation: line-item-highlight 1s;
	}