@import "bootstrap-sprockets";
@import "bootstrap";

.div-centered {
  text-align: left; 
  margin: auto; 
  width: 240px;
}

#userplace {
 padding-left: 90px;
 text-align: left; 
}

@keyframes line-item-highlight {
	  0% {
	    background: #8f8;
	  }
	  100% {
	    background: none;
	  }
	}
	
	.line-item-highlight {
	  animation: line-item-highlight 1s;
	}